.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
 }
.footer {
  padding: 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
 }
 .card-hotel{
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  }
  .btn-reserva{
   width: 100%;
   }
   .footer-address-icon
   {
    padding-right: 10px;
   }
      .img{
       width: 100%;
       height: 350px;
       }
       .tab-content{
        padding-top: 5px;
        }
