.jumbotron {
  background-color: #fff000;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px;
  background-color: #fff000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.img {
  width: 100%;
  height: 350px; }

.tab-content {
  padding-top: 5px; }
