$yellow: #fff000;
$green: #3AC000;
$red: #F01900;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}
.jumbotron {
  background-color: $yellow;
  color: black;
  @include margenes(50px, 10px);
 }
.footer {
  padding: 10px;
  background-color: $yellow;
  @include margenes(10px, 0px);

}
 .card-hotel{
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  @include margenes(10px, 0px);
}
.btn-reserva{
 width: 100%;
}
 .footer-address-icon
{
 padding-right: 10px;
}
.img{
 width: 100%;
 height: 350px;
}
 .tab-content{
 padding-top: 5px;
}
