@yellow: #39637d;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}
.footer {
  padding: 10px;
  background-color: @yellow;
  .margenes(10px, 0px);

}

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  .margenes(10px, 0px);
 
}

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.img {
  width: 100%;
  height: 350px; }

.tab-content {
  padding-top: 5px; }
